## Trabalho de Machine Learning com Python
##### Algoritmo: Classificador - Random Forest
##### Aluno: Juliano Schildt

### Proposta do modelo
##### - É possível prever o sexo do aluno através das notas ?

In [2]:
# Bibliotecas
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.externals import joblib

In [3]:
# Importar dataset no formato csv
df = pd.read_csv("dataset/studentsPerformance.csv")
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
# Atributos e classes
X = df.iloc[:,-3:] # Atributos = math score, reading score e writing score
y = df['gender'] # Classe = gender

In [8]:
# Separar dados para treinamento e testes (30%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [9]:
# Treinamento do modelo
rf = RandomForestClassifier(n_estimators=3, max_depth=4)
rf.fit(X_train, y_train)

# Teste do modelo
y_pred = rf.predict(X_test)

In [10]:
# Avaliação do modelo
print("Resultado da Avaliação do Modelo")
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

Resultado da Avaliação do Modelo
[[127  28]
 [ 25 120]]
             precision    recall  f1-score   support

     female       0.84      0.82      0.83       155
       male       0.81      0.83      0.82       145

avg / total       0.82      0.82      0.82       300

Através da avaliação do modelo, é possível verificar que possui uma boa eficiência para predição da classe "gender".

In [11]:
# Gravar modelo
joblib.dump(rf, 'students_randomforest.joblib')

['students_randomforest.joblib']

In [12]:
# Prever nova instância
item = [64, 64, 69]
previsao = rf.predict([item])
print("Nova instância: {} - Previsão: {}".format(item, previsao))

Nova instância: [64, 64, 69] - Previsão: ['male']

Com a precisão alta do modelo, as classificações são acertivas sendo possível a utilização em um ambiente de produção.